<h3><%= @article.title %></h3>
<p><%= @article.content %></p>

<p><%= link_to "Edit article", edit_article_path, class: "btn btn-warning" %></p>

<p><%= link_to "Delete article", article_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>

<p><%= link_to "Go back", articles_path, class: "btn btn-primary" %></p>
